

footer {
  div {
    &.foot-nav {
      margin: 30px auto 50px;
    }
    .social-icons {
      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 20px;
          }
        }
      }
    }

    .links {
      width: 100%;
      max-width: 720px;

      div ul {
        @include flex(column, flex-start, center, 20px);
      }
    }

    .call {
      .input {
        border: 1px solid rgba(148, 148, 148, 0.5);
        border-radius: 24px;
        padding: 5px;
        margin-top: 16px;

        input {
          padding-left: 10px;
          height: 100%;
          border: none;
          display: block;
          width: 100%;
        }

        button {
          border-radius: 24px;
          padding: 8px 24px;
          @include font(14px, 16px, 400);
          margin: 0;
        }
      }
    }
  }
}

.call-to {
  @include background("../images/back.svg", center, no-repeat, cover);
  border-radius: 12px;
  max-width: 92%;
  margin: auto;
  
  div {
    &.text {
      align-self: flex-end;


      .call-btns {
        button {
          .heading5 {
            padding-left: 6px;
          }

          .heading3 {
            font-weight: 500;
          }
        }
      }
    }
    p {
      text-align: left;
    }
  }
}
