/* General styling --------------------------------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

button,
a {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

details summary::marker {
  display:none;
}

summary {
  list-style: none;
}

.hidden {
  overflow-y: hidden;
}

.desktop-nav {
  display: none;
}


// MY CLASSES ------------------------------------------------------------------------------------
.container {
  padding: 32px 4%;
}

.inter {
  font-weight: inter;
}

.clash-display {
  font-family: 'Clash Display', sans-serif;
}

.btn {
  text-transform: capitalize;
}

.white-btn {
  background: #fff;
  border: 2px solid #004FFF;
  border-radius: 35px;
  padding: 15px 35px;
  color: #004FFF;
  @include font(18px, 22px, 500);
}

.heading {
  text-transform: capitalize;
}

.heading1 {
  @include font(30px, 36px, 700);
}

.heading2 {
  @include font(21px, 28px, 700);
}

.heading3 {
  @include font(18px, 18px, 600);
}

.heading4 {
  @include font(12px, 11px, 500);
  text-transform: uppercase;
  color: #004FFF;
}

.heading5 {
  @include font(10px, 12px, 700);
}

.p {
  @include font(14px, 19px, 400);
  text-align: justify;
}

.column-row,
.column-row-reverse {
  @include flex(column, stretch, space-between, 20px);
}

.flex-items {
  flex: 45%;
}

.center-text {
  text-align: center;
}

.padding-b {
  padding-bottom: 10px;
}

.orange-text {
  color: #FF7A00;
}

.blue-text {
  color: #004FFF;
}

.profession {
  @include font(9px, 14px, 400);
}

.bottom {
  align-items: center;
}

.white-text {
  color: #fff;
}

.row {
  @include flex(row, center, center, 5px);
}

.column {
  @include flex(column, flex-start, center, 0px);
}

.call-btns {
  justify-content: flex-start;

  .btn2 {
    background: #000;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding: 7px;
    width: fit-content;

    .play-icon {
      width: 20%;
    }

    h4 {
      min-width: 102px;
    }
  }
}

.start {
  justify-content: flex-start;
}

.h5 {
  @include font(16px, 20px, 400);
}

.blue-btn {
  background: #004FFF;
  border-radius: 10px;
  padding: 18px 50px;
  margin: 15px 0;
  @include font(18px, 22px, 600);
}
