.header {
  height: fit-content;
  background-image: url("../images/back1.svg"), url("../images/back2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right top;
  margin-bottom: 20px;

  header {
    @include flex(row, center, space-between, 0);
    position: relative;

    .logo {
      width: 117px;
    }

    .hamb {
      margin-top: -10px;
    }

    nav {
      width: fit-content;

      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 15px 32px;
            @include font(18px, 22px, 400);
            transition: color 0.7s;

            &:hover {
              color: #004fff;
            }
          }
        }
      }
    }

    .mobile-nav {
      width: 100%;
      max-width: 300px;
      background: rgba(0, 79, 255, 0.7);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      backdrop-filter: blur(10px);
      min-height: 100vh;
      padding: 50px 30px;
      color: #fff;

      ul {
        @include flex(column, flex-end, flex-start, 10px);
      }

      .close {
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

  }

  .headline {
    align-items: flex-start;
    height: 100%;
    @include flex(column, stretch, space-between, 20px);

    div.flex-items {
      position: relative;

      &.back-cont {

        .back {
          @include background("../images/back3.png", center, no-repeat, cover);
          position: relative;
          border-radius: 18px;
          width: 100%;
          overflow: hidden;

          &::after {
            content: "";
            border-radius: 0 18px 0 18px;
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 56.5%;
            background: #fff;
            @include background("../images/back1.svg", left top, no-repeat, cover);
          }
        }
      }

      .heading1 {
        @include font(58px, 65px, 600);
      }

      h5 {
        margin: 40px 0 0;
      }

      .woman {
        @include background("../images/woman.png", center, no-repeat, cover);
        border-radius: 18px;
        position: absolute;
        top: 0;
        right: 0;
        width: 38%;
        height: 55%;
      }
    }

    .float {
      background: #ffffff60;
      border-radius: 16px;
      padding: 20px 4%;
      justify-content: flex-start;
      gap: 20px;

      .heading5 {
        padding-left: 6px;
      }

      .custom-review {
        justify-content: flex-start;

        .review-img {
          max-width: 150px;
        }

        .column {
          @include font(16px, 20px, 500);
        }
      }
    }
  }
}
