@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

@import "mixin.scss";
@import "general.scss";
@import "header.scss";
@import "about.scss";
@import "reviewsFaqs.scss";
@import "footer.scss";
@import "mediaQueries.scss";
