@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

// MIXINS --------------------------------------------------------------------------------------------------------------------------

@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin font($size, $line, $weigth) {
  font-style: normal;
  font-weight: $weigth;
  font-size: $size;
  line-height: $line;
}

@mixin background($url, $position, $repeat, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

/* General styling --------------------------------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

button,
a {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.hidden {
  overflow-y: hidden;
}

.desktop-nav {
  display: none;
}


// MY CLASSES ------------------------------------------------------------------------------------
.container {
  padding: 32px 4%;
}

.inter {
  font-weight: inter;
}

.clash-display {
  font-family: 'Clash Display', sans-serif;
}

.btn {
  text-transform: capitalize;
}

.white-btn {
  background: #fff;
  border: 2px solid #004FFF;
  border-radius: 35px;
  padding: 15px 35px;
  color: #004FFF;
  @include font(18px, 22px, 500);
}

.heading1 {
  @include font(30px, 36px, 700);
}

.heading2 {
  @include font(21px, 28px, 700);
}

.heading3 {
  @include font(18px, 18px, 600);
}

.heading4 {
  @include font(12px, 11px, 500);
  text-transform: uppercase;
  color: #004FFF;
}

.p {
  @include font(14px, 19px, 400);
  text-align: justify;
}

.column-row,
.column-row-reverse {
  @include flex(column, stretch, space-between, 20px);
}

.flex-items {
  width: 45%;
}


// MY STYLES -----------------------------------------------------------------------------------

.header {
  min-height: 100vh;

  header {
    @include flex(row, center, space-between, 0);
    position: relative;

    .logo {
      width: 117px;
    }

    .hamb {
      margin-top: -10px;
    }

    nav {
      width: fit-content;

      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 15px 32px;
            @include font(18px, 22px, 400);
          }
        }
      }
    }

    .mobile-nav {
      width: 100%;
      max-width: 300px;
      background: rgba(0, 79, 255, 0.7);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      backdrop-filter: blur(10px);
      min-height: 100vh;
      padding: 50px 30px;
      color: #fff;

      ul {
        @include flex(column, flex-end, flex-start, 10px);
      }

      .close {
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

  }
}

// PARTNERS STYLING ---------------------------------------------------------------------------
.partners {
  @include flex(column, center, center, 20px);
  padding: 17px;
  background: #000;

  img {
    width: 25%;
  }
}

// ABOUT SECTION---------------------------------------------------------------------------------------------------
#about {

  article {
    padding: 24px 0;

    div .onethird {
      flex: 1;
    }

    div .twothird {
      flex: 1.5;
    }

    .man {
      margin-top: 30px;
      @include background("../images/pic1.png", center, no-repeat, cover);
      min-height: 500px;
      width: 100%;
    }

    .head-icon {
      @include flex(row, center, flex-start, 15px);

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #004FFF;
        padding: 8px;
      }
    }

    .phone {
      overflow: hidden;
      border-radius: 24px;
    }

    .phone1 {
      @include background("../images/pic4.png", center, no-repeat, cover);
    }

    .phone2 {
      @include background("../images/pic2.png", center, no-repeat, cover);
    }
    .phone3 {
      @include background("../images/pic3.png", center, no-repeat, cover);
    }
  }
}



// MEDIA QUERIES ----------------------------------------------------------------------------------------
@media only screen and (min-width: 768px) {
  .partners {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 25px;

    img {
      width: 10%;
    }
  }

  .column-row {
    flex-direction: row;
    gap: 40px;
  }

  .column-row-reverse {
    flex-direction: row-reverse;
  }

  #about {
    margin: 40px auto;
    article {
      padding-bottom: 40px;

      .man {
        min-height: 900px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-nav {
    display: block;
  }

  .mobile-nav,
  .hamb {
    display: none;
  }

  .heading1 {
    @include font(48px, 48px, 700);
  }

  .heading2 {
    @include font(35px, 35px, 700);
  }

  .heading3 {
    @include font(28px, 28px, 600);
  }

  .heading4 {
    @include font(18px, 18px, 500);
  }

  .p {
    @include font(20px, 30px, 400);
  }

  .flex-items.phone {
    min-height: 500px;
  }

  .column-row,
  .column-row-reverse {
    align-items: center;
  }

  #about {
    article {
      .head-icon {

        .icon {
          height: 48px;
          width: 48px;
          padding: 12px;
        }
      }
    }
  }
}