@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

// MIXINS --------------------------------------------------------------------------------------------------------------------------

@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin font($size, $line, $weigth) {
  font-style: normal;
  font-weight: $weigth;
  font-size: $size;
  line-height: $line;
}

@mixin background($url, $position, $repeat, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

/* General styling --------------------------------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

button,
a {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

details summary::marker {
  display:none;
}

summary {
  list-style: none;
}

.hidden {
  overflow-y: hidden;
}

.desktop-nav {
  display: none;
}


// MY CLASSES ------------------------------------------------------------------------------------
.container {
  padding: 32px 4%;
}

.inter {
  font-weight: inter;
}

.clash-display {
  font-family: 'Clash Display', sans-serif;
}

.btn {
  text-transform: capitalize;
}

.white-btn {
  background: #fff;
  border: 2px solid #004FFF;
  border-radius: 35px;
  padding: 15px 35px;
  color: #004FFF;
  @include font(18px, 22px, 500);
}

.heading {
  text-transform: capitalize;
}

.heading1 {
  @include font(30px, 36px, 700);
}

.heading2 {
  @include font(21px, 28px, 700);
}

.heading3 {
  @include font(18px, 18px, 600);
}

.heading4 {
  @include font(12px, 11px, 500);
  text-transform: uppercase;
  color: #004FFF;
}

.heading5 {
  @include font(10px, 12px, 700);
}

.p {
  @include font(14px, 19px, 400);
  text-align: justify;
}

.column-row,
.column-row-reverse {
  @include flex(column, stretch, space-between, 20px);
}

.flex-items {
  flex: 45%;
}

.center-text {
  text-align: center;
}

.padding-b {
  padding-bottom: 10px;
}

.orange-text {
  color: #FF7A00;
}

.blue-text {
  color: #004FFF;
}

.profession {
  @include font(9px, 14px, 400);
}

.bottom {
  align-items: center;
}

.white-text {
  color: #fff;
}

.row {
  @include flex(row, center, center, 5px);
}

.column {
  @include flex(column, flex-start, center, 0px);
}

.call-btns {
  justify-content: flex-start;

  .btn2 {
    background: #000;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding: 7px;
    width: fit-content;

    .play-icon {
      width: 20%;
    }

    h4 {
      min-width: 102px;
    }
  }
}

.start {
  justify-content: flex-start;
}

.h5 {
  @include font(16px, 20px, 400);
}




// MY STYLES -----------------------------------------------------------------------------------

.header {
  min-height: 100vh;
  background-image: url("../images/back1.svg"), url("../images/back2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right top;

  header {
    @include flex(row, center, space-between, 0);
    position: relative;

    .logo {
      width: 117px;
    }

    .hamb {
      margin-top: -10px;
    }

    nav {
      width: fit-content;

      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 15px 32px;
            @include font(18px, 22px, 400);
          }
        }
      }
    }

    .mobile-nav {
      width: 100%;
      max-width: 300px;
      background: rgba(0, 79, 255, 0.7);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      backdrop-filter: blur(10px);
      min-height: 100vh;
      padding: 50px 30px;
      color: #fff;

      ul {
        @include flex(column, flex-end, flex-start, 10px);
      }

      .close {
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

  }

  .headline {
    align-items: flex-start;
    height: 100%;
    @include flex(column, stretch, space-between, 20px);

    div.flex-items {
      position: relative;

      &.back-cont {
        align-self: stretch;
        min-height: 80vh;
        height: auto;
        z-index: 1000;
        @include flex(row, stretch, stretch, 0);

        .back {
          @include background("../images/back3.png", center, no-repeat, cover);
          position: relative;
          border-radius: 18px;
          width: 100%;
          overflow: hidden;
  
          &::after {
            content: "";
            border-radius: 0 18px 0 18px;
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 56.5%;
            background: #fff
          }
        }
      }

      .heading1 {
        @include font(58px, 65px, 600);
      }

      h5 {
        margin: 40px 0 0;
      }
      .blue-btn {
        background: #004FFF;
        border-radius: 10px;
        padding: 18px 50px;
        margin: 15px 0;
        @include font(18px, 22px, 600);
      }

      svg {
        width: 100%;
        height: auto;
      }

      .woman {
        @include background("../images/woman.png", center, no-repeat, cover);
        border-radius: 18px;
        position: absolute;
        top: 0;
        right: 0;
        width: 38%;
        height: 55%;
      }
    }

    .float {
      background: #ffffff60;
      border-radius: 16px;
      padding: 20px 4%;
    }
  }
}

// PARTNERS STYLING ---------------------------------------------------------------------------
.partners {
  @include flex(column, center, center, 20px);
  padding: 17px;
  background: #000;

  img {
    width: 25%;
  }
}

// ABOUT SECTION---------------------------------------------------------------------------------------------------
#about {

  article {
    padding: 24px 0;

    div .onethird {
      flex: 1;
    }

    div .twothird {
      flex: 1.5;
    }

    .man {
      margin-top: 30px;
      @include background("../images/pic1.png", center, no-repeat, cover);
      min-height: 500px;
      width: 100%;
    }

    .head-icon {
      @include flex(row, center, flex-start, 15px);

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #004FFF;
        padding: 8px;
      }
    }

    .phone {
      overflow: hidden;
      border-radius: 24px;
      min-height: 320px;
    }

    .phone1 {
      @include background("../images/pic4.png", center, no-repeat, cover);
    }

    .phone2 {
      @include background("../images/pic2.png", center, no-repeat, cover);
    }
    .phone3 {
      @include background("../images/pic3.png", center, no-repeat, cover);
    }
  }
}

// REVIEWS SECTION---------------------------------------------------------------------------------------------
#reviews {
  padding: 0 2%;

  .heading5 {
    color: #FF7315;
    ;
  }

  .review-card {
    padding: 24px;
    border-radius: 13px;

    &.blue {
      background: rgba(234, 255, 234, 0.5);
    }

    &.orange {
      background: rgba(255, 241, 229, 0.5);
    }

    .card-img {
      border-radius: 7px;
      overflow: hidden;
    }

    .intro {
      margin-bottom: 15px;

      .name {
        @include font(13px, 11px, 600);
      }
    }
  }
}

// FAQS ----------------------------------------------------------------------------------------
#faqs {

  .questions {
    max-width: 1024px;
    margin: auto;

    details {
      border-bottom: 1px solid #000;
      padding: 15px;
      margin-bottom: 40px;

      summary {
        @include flex(row, center, space-between, 0);
      }
    }
  }
}


footer {
  div {
    &.foot-nav {
      margin: 30px auto 50px;
    }
    .social-icons {
      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 20px;
          }
        }
      }
    }

    .links {

      div ul {
        @include flex(column, flex-start, center, 20px);
      }
    }
  }
}

.call-to {
  @include background("../images/back.svg", center, no-repeat, cover);
  border-radius: 12px;
  max-width: 92%;
  margin: auto;
  
  div {
    &.text {
      align-self: flex-end;
    }
    p {
      text-align: left;
    }
  }
}





// MEDIA QUERIES ----------------------------------------------------------------------------------------
@media only screen and (min-width: 768px) {
  .partners {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 25px;

    img {
      width: 10%;
    }
  }

  .column-row {
    flex-direction: row;
    gap: 40px;
  }

  .column-row-reverse {
    flex-direction: row-reverse;
  }

  #about {
    margin: 40px auto;
    article {
      padding-bottom: 40px;

      .man {
        min-height: 900px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-nav {
    display: block;
  }

  .mobile-nav,
  .hamb {
    display: none;
  }

  .heading1 {
    @include font(48px, 48px, 700);
  }

  .heading2 {
    @include font(35px, 35px, 700);
  }

  .heading3 {
    @include font(28px, 28px, 600);
  }

  .heading4 {
    @include font(18px, 18px, 500);
  }

  .heading5 {
    @include font(14px, 18px, 700);
  }

  .p {
    @include font(20px, 30px, 400);
  }

  .h5 {
    @include font(24px, 30px, 400);
  }

  .call-btns .btn2 h4 {
    min-width: 162px;
  }

  #about article .flex-items.phone {
    align-self: stretch;
    min-height: 500px;
  }

  .column-row,
  .column-row-reverse {
    align-items: center;
  }

  .links {
    align-items: flex-start;
  }

  .padding-b {
    padding-bottom: 20px;
  }

  .profession {
    @include font(16px, 27px, 400);
  }

  #about {
    article {
      .head-icon {

        .icon {
          height: 48px;
          width: 48px;
          padding: 12px;
        }
      }
    }
  }

  #reviews {
    .review-card {
      padding: 35px;
      border-radius: 25px;

      .card-img {
        border-radius: 13px;
      }

      .intro {
        margin-bottom: 30px;

        .name {
          @include font(24px, 14px, 600);
        }
      }
    }
  }

  .header .headline {
    flex-direction: row;
    position: relative;

    .float {
      position: absolute;
      width: 80%;
      bottom: 10%;
      left: 0;
      z-index: 1000000;
    }

    .headline-text {
      padding-bottom: 120px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .header .headline div.flex-items .heading1 {
    @include font(65px, 80px, 600);
  }
}
