@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

// MIXINS --------------------------------------------------------------------------------------------------------------------------

@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin font($size, $line, $weigth) {
  font-style: normal;
  font-weight: $weigth;
  font-size: $size;
  line-height: $line;
}

@mixin background($url, $position, $repeat, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

/* General styling --------------------------------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #364f6b;
}

ul {
  list-style: none;
}

button,
a {
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.hidden {
  overflow-y: hidden;
}

.desktop-nav {
  display: none;
}


// MY CLASSES ------------------------------------------------------------------------------------
.container {
  padding: 32px 4%;
}

.inter {
  font-weight: inter;
}

.clash-display {
  font-family: 'Clash Display', sans-serif;
}

.btn {
  text-transform: capitalize;
}

.white-btn {
  background: #fff;
  border: 2px solid #004FFF;
  border-radius: 35px;
  padding: 15px 35px;
  color: #004FFF;
  @include font(18px, 22px, 500);
}



// MY STYLES -----------------------------------------------------------------------------------

.header {

  header {
    @include flex(row, center, space-between, 0);
    position: relative;

    .logo {
      width: 117px;
    }

    .hamb {
      margin-top: -10px;
    }

    nav {
      width: fit-content;

      ul {
        @include flex(row, center, center, 0);

        li {
          padding-left: 5px;

          a {
            padding: 15px 32px;
            @include font(18px, 22px, 400);
          }
        }
      }
    }

    .mobile-nav {
      width: 100%;
      max-width: 300px;
      background: rgba(0, 79, 255, 0.7);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      backdrop-filter: blur(10px);
      min-height: 100vh;
      padding: 50px 30px;
      color: #fff;

      ul {
        @include flex(column, flex-end, flex-start, 10px);
      }

      .close {
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

  }
}

// MEDIA QUERIES ----------------------------------------------------------------------------------------
@media only screen and (min-width: 768px) {
  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}