
// REVIEWS SECTION---------------------------------------------------------------------------------------------
#reviews {
  padding: 0 2%;

  .heading5 {
    color: #FF7315;
    ;
  }

  .review-card {
    padding: 24px;
    border-radius: 13px;

    &.blue {
      background: rgba(234, 255, 234, 0.5);
    }

    &.orange {
      background: rgba(255, 241, 229, 0.5);
    }

    .card-img {
      border-radius: 7px;
      overflow: hidden;
    }

    .intro {
      margin-bottom: 15px;

      .name {
        @include font(13px, 11px, 600);
      }
    }
  }
}

// FAQS ----------------------------------------------------------------------------------------
#faqs {

  .questions {
    max-width: 1200px;
    margin: auto;

    details {
      border-bottom: 1px solid #000;
      padding: 15px 0;
      margin-bottom: 40px;

      summary {
        @include flex(row, center, space-between, 0);
      }

      p {
        margin: 10px 0;
      }
    }
  }
}
